@model LaLiga.Models.Mecz

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Mecz</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.goscie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.goscie.id_druzyny)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.gospodarze)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.gospodarze.id_druzyny)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.termin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.termin)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id_meczu">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
