@model IEnumerable<LaLiga.Models.Mecz>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.goscie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gospodarze)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.termin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.goscie.id_druzyny)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gospodarze.id_druzyny)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.termin)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_meczu">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_meczu">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_meczu">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
