@model LaLiga.Models.Druzyna

@{
    ViewData["Title"] = "Delete";
}

<link rel="stylesheet" href="~/css/league-table.css" />

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Druzyna</h4>
    <hr />
    <dl class="form-wrapper">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.nazwa_druzyny)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nazwa_druzyny)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.punkty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.punkty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.gole)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.gole)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="id_druzyny" />
        <input type="submit" value="Delete" class="btn-save" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
@* 
@model LaLiga.Models.Druzyna

@{
    ViewData["Title"] = "Usuń drużynę";
}

<link rel="stylesheet" href="~/css/league-table.css" />

<div class="form-wrapper">
    <div class="form-box">
        <h2>Potwierdzenie usunięcia</h2>
        <p>Czy na pewno chcesz usunąć poniższą drużynę?</p>

        <div class="team-details">
            <div><strong>Nazwa:</strong> @Model.nazwa_druzyny</div>
            <div><strong>Punkty:</strong> @Model.punkty</div>
            <div><strong>Gole:</strong> @Model.gole</div>
        </div>

        <form asp-action="Delete">
            <input type="hidden" asp-for="id_druzyny" />
            <div class="button-group">
                <input type="submit" value="🗑 Usuń" class="btn-delete" />
                <a asp-action="Index" class="btn-cancel">Anuluj</a>
            </div>
        </form>
    </div>
</div> *@