@model IEnumerable<LaLiga.Models.Druzyna>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
<form asp-controller="Druzyna" asp-action="Winners" method="get">
    <button type="submit">Wygrani</button>
</form>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nazwa_druzyny)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.punkty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gole)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nazwa_druzyny)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.punkty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gole)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id_druzyny">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.id_druzyny">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.id_druzyny">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
