@model IEnumerable<LaLiga.Models.Statystyki>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.mecz)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gole_gospodarzy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gole_gosci)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.strzaly_gospodarzy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.strzaly_gosci)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @(item.mecz?.gospodarze?.nazwa_druzyny ?? "???") vs @(item.mecz?.goscie?.nazwa_druzyny ?? "???")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gole_gospodarzy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gole_gosci)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.strzaly_gospodarzy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.strzaly_gosci)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id_meczu">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.id_meczu">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.id_meczu">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
