@model LaLiga.Models.Strzelec

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Strzelec</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.zawodnik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.zawodnik.id_druzyny)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.mecz)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.mecz.id_meczu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.gole)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.gole)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.asysty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.asysty)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
