@model IEnumerable<LaLiga.Models.Strzelec>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.zawodnik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mecz)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gole)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.asysty)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @(item.zawodnik?.imie ?? "???") @(item.zawodnik?.nazwisko ?? "???")
                </td>
                <td>
                    @(item.mecz?.gospodarze?.nazwa_druzyny ?? "???") vs @(item.mecz?.goscie?.nazwa_druzyny ?? "???")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gole)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.asysty)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id_druzyny = item.id_druzyny, numer = item.numer, id_meczu =
                    item.id_meczu }) |
                @Html.ActionLink("Details", "Details", new { id_druzyny = item.id_druzyny, numer = item.numer, id_meczu
                                = item.id_meczu}) |
                @Html.ActionLink("Delete", "Delete", new { id_druzyny = item.id_druzyny, numer = item.numer, id_meczu =
                                item.id_meczu })
            </td>
        </tr>
                }
    </tbody>
</table>
